:root {
  --primary-color: #fcf3ec;
  --yellow-color: #fcd961;
  --text-color-green: #1D8344;
  --background-color: #fbf3e5;
}
.sidebar {
  width: 30%;
  background-color: #fbf3e5;
  overflow-y: auto;
  transition: all 0.3s ease;
  flex-direction: row;
  padding: 1rem;
  &::-webkit-scrollbar {
    display: none;
    width: 0; /* Hide scrollbar */
  }


  @media (max-width: 768px) {
    width: 100%;
    height: 3000vh;
  }

  
}
