:root {
  --primary-color: #fcf3ec;
  --yellow-color: #fcd961;
  --text-color-green: #1D8344;
  --background-color: #fbf3e5;
}

.message-container {
  display: flex;
  flex-direction: column;
  min-width: 450px; // For md screens and above
  height: 100%;
  background-color: #fbf3e5;
  border: 1px solid #1D8344;
  border-left: none ;

}
.header {
  display: flex;
  align-items: center;
}

.conversation-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.conversation-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.header {
  display: flex;
  align-items: center;
}

.conversation-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.conversation-name {
  font-weight: bold;
  font-size: 1.2rem;
}


.header {
  background-color: #64748b; // Slate-500 color
  padding: 0.5rem 1rem; // Adjust padding as needed
  margin-bottom: 0.5rem; // Adjust margin as needed
  display: flex;
  align-items: center;

  .label-text {
    color: #ffffff; // White color for label
  }

  .conversation-name {
    color: white; // Gray-900 color
    font-weight: bold;
  }
}
.no-chat-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;

  @media (max-width: 768px) {
    display: none; // Hides the component on mobile devices
  }

  .message-info {
    text-align: center;
    color: var(--text-color-green); // Gray-200 color
    font-weight: 600; // Semi-bold font weight
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p {
      margin: 0;
    }

    .icon {
      font-size: 3rem; // Adjust icon size as needed
      color: var(--yellow-color); // Gray-200 color
    }
  }
}
