:root {
  --primary-color: #fcf3ec;
  --yellow-color: #fcd961;
  --text-color-green: #1D8344;
  --background-color: #fbf3e5;
}
.chat {
  display: flex;
  align-items: flex-start;
  // border: 1px solid black;
  margin-bottom: 0.5rem; // Adjust spacing as needed

  &.chat-end {
    flex-direction: row-reverse;
  }
}

.chat-image {
  .avatar {
    .avatar-img {
      width: 2.5rem; // Equivalent to w-10
      height: 2.5rem; // Equivalent to w-10
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.chat-bubble {
  padding: 0.75rem; // Adjust padding as needed
  border-radius: 1rem; // Rounded corners
  max-width: 60%; // Adjust width as needed
  margin: 0.25rem; // Spacing between bubbles
  position: relative;
  // border: 1px solid black;

  &.bg-blue-500 {
    background-color: #0e9d45; // Blue-500 color
  }

  &.bg-gray-300 {
    background-color: #696d6b; // Gray-300 color
  }

  &.shake {
    animation: shake 0.5s;
  }
}
.chat-bubble span{
  color: white;
}

.chat-footer {
  font-size: 0.75rem; // Equivalent to text-xs
  color: gray; // Gray-500 color
  display: flex;
  align-items: center;
  gap: 0.25rem; // Adjust spacing as needed
}

@keyframes shake {
  0% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}
