:root {
  --primary-color: #fcf3ec;
  --yellow-color: #fcd961;
  --text-color-green: #1D8344;
  --background-color: #fbf3e5;
}
.home-container {
  display: flex;
    height: 80%; // Default height, equivalent to sm:h-[450px]
    border-radius: 0.5rem; // Equivalent to rounded-lg
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.25); // Equivalent to bg-black-400 with bg-opacity-0
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px); // For Safari support
    width: 1200px;

  @media (max-width: 768px) {
    flex-direction: column;
    height: 80%;
  }
}
